################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.nupkg

/Abstractions/obj
/Abstractions/bin/Debug/net5.0
/nuget.exe
.vs/

bin
obj
